# Python
__pycache__/
*.pyc
*.pyo
*.pyd
modules/__pycache__/

# Virtual Environment
.venv/

# Output folder
# output/

# IDE configuration
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env

# Data
# data/kritik_saran.xlsx


# Pembahasan
# pembahasan/