# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Output folder
output/

# IDE configuration
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# OS-specific
.DS_Store
Thumbs.db
